/* src/index.css */

/* Reseta o básico para o mapa funcionar em tela cheia.
  Isto é o mais importante!
*/
html, body, #root {
  height: 100%; /* Essencial para o layout 100vh */
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Evita barras de rolagem desnecessárias */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  background-color: #f4f4f4; /* Um fundo leve para o app */
}
